.toggle-switch {
    position: relative;
    width: 3rem;
    height: 1.5rem;
    /* bottom: 2px; */
    left: 8px;
}
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f44336; /* Red color when off */
    transition: .4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "@";
    height: 1.5rem;
    width: 1.5rem;
    left: 0px;
    /* bottom: 1px; */
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #4CAF50; /* Green color when on */
    /* content: '✔'; */
}
input:checked + .slider:before {
    transform: translateX(26px);
}